
<section class="wrapper">
    {{> input action="/0" opt=0 num="0"}}
    {{> input action="/1" opt=1 num="1"}}
    {{> input action="/2" opt=2 num="2"}}
    {{> input action="/3" opt=3 num="3"}}
 
  <div>
      <p class="headtxt">once upon a time there was a big bad wolf</p>
  </div>
 
</section>