<a href="/option/beginning">back to beginning</a>
<section class="wrapper">
    {{> optionInput id=text.id num=text.id opt=0 num="0"}}
    {{> optionInput id=text.id num=text.id opt=1 num="1"}}
    {{> optionInput id=text.id num=text.id opt=2 num="2"}}
    {{> optionInput id=text.id num=text.id opt=3 num="3"}}
    {{> headtext sentence=text.value}}
</section>